@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.lslsenglobebio {
    background: white;
    padding: 2vh;
}

.lstitrebio, .lstitrecompetences {
    font-size: 1.6em;
}

.lsbio {
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
}

.ui.horizontal.divider {
    font-size: 1.2em;
}

.lspoint {
    color : #76c2af;
}

.lsphome {
    font-size:1.1em;
    font-family: 'Open Sans', sans-serif;
}
    