.lslsenglobebio {
    background: white;
    padding: 2vh;
}

.lstitrebio, .lstitrecompetences {
    font-size: 1.5em;
}

.lsbio {
    font-size: 1.2em;
}

..ui.horizontal.divider {
font-size: 1.2em;
}
p {
    font-size:1.1em;
}
    