.NavItem{
    color: white;
}

a {
    color: black;
}

Nav {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-style: italic;
    color: black;

}