.wildersWallContainer {
  background-color: white;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  min-height: 100vh !important;
}
.spinnerContainerWall {
  text-align: center;
  margin-top: 5vh;
}
.wildersContainer {
  margin-top: 100px;
}