.wildersWallFooter{
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: black;
  bottom: 0;
}

.wilderCopyright {
  margin-top: 20px !important;
  color: white;
  text-align: center;
}