.wildersWallFooter{
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: black;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.wildersWallFooterInfo{
  display: flex;
  justify-content: space-around;

  p {
    margin-top: 20px !important;
    color: white !important;
  }
}
.wilderCopyright {
  text-align: center;
}

.footerAddressContact{
  color: white;
  text-align: center;
  margin-right: 110px;
}