
    .Description{
        text-align: center;
        position: relative;
        height: 100%;
        background-color: #677273;
    }
    .Parcours {
        text-align: center;
        
    }

    .header-issam {
        background: url("./image.jpg")center fixed;
        background-size: cover;
        width: 100%;
        height: 400px;
        color: black;
        text-align: center;
    }
   
.me-issam {
    height: 200px;
    width: 180px;
    border-radius: 100px;
    text-align: center;
}

.paragraphe-issam {
    margin-top: 70px;
    text-align: center;
}

.wild-issam {
    margin-top: 60px;
    text-align: center;
}

.foot-issam {
    margin-top: 50px;
    text-align: center;
}

  .spinnerContainer{
    margin-top: 45vh;
    text-align: center;
  }

  #welcomeIssam {
      color: lightgray;
  }