@import url('https://fonts.googleapis.com/css?family=Dosis|KoHo');

.Wild{
    width: 80%;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    margin: auto;
    padding-bottom: 2%;
    
    h2{
        font-family: 'KoHo', sans-serif;
        color: #06BC9B;
    }
}