.imageLisa {
    margin-top: 20px;
    border: 14px solid #76c2af;
    border-radius: 50%;
    width: 60%;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.titleLisa {
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'Heebo';
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #76c2af;
}

.bioLisa {
    font-family: 'Roboto';
}

